{
  "API_URL": "http://10.0.2.2:8000/api/v1",
  "SUPABASE_URL": "https://ujvmhomgtijysvymarpl.supabase.co",
  "SUPABASE_ANON_KEY": "sb_publishable_EXmIZ5dcKW51toyh00qJvw_nHJXs0D5",
  "CLOUDINARY_CLOUD_NAME": "your_cloudinary_cloud_name",
  "CLOUDINARY_UPLOAD_PRESET": "tiyrasense_evidence"
}
